<div class="container-fluid" id="userlist">
  <table class="table">
    <thead>
      <tr>
        <th><h2>User List</h2></th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user), class: "btn btn-default" %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn-default" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New User', new_user_path, :class => "btn btn-default" %>
</div>
