<div class="container">
	<center>
		<iframe
		  width="600"
		  height="450"
		  frameborder="0" style="border:0"
	  	src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.secrets.MAPS_KEY %>&q=burger+king+near+" allowfullscreen>
		</iframe>
	<center>
</div>
